:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-sidebar {
  flex: 1;
  display: flex;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

app-footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
}
