:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-sidebar {
  flex: 1;
  display: flex;
}

app-header {
  /*instructions to make header sticky*/
  position: sticky;
  top: 0;
  z-index: 1000;
}

app-footer {
  /*instructions to make footer sticky*/
  /*problem to solve : then end of the content text comes behind the footer at the end of the scroll*/
  /*position: sticky;*/
  /*bottom: 0;*/
  /*z-index: 1000;*/
}
