<h1>Démo du fonctionnement des panels</h1>


<!--multi="true" allows to open several panel without closing the other-->
<!--hideToggle allows to hide the arrow on the left of the panel-->
<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Panel 1
    </mat-panel-title>
    <mat-panel-description>
      Ouvre-moi pour découvrir une surprise
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Xavier est trop beau sur sa moto !!!</p>
  <mat-action-row>
    <button mat-button>Voir la photo de Xav</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Panel 2
    </mat-panel-title>
    <mat-panel-description>
      Ici aussi il y a une surprise
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Guillaume est plus sexy encore avec sa Kangoo !!!</p>
  <mat-action-row>
    <button mat-button>Voir Guillaume écraser la moto de Xav</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
