<h1>Démo du fonctionnement des panels</h1>


<!--multi="true" allows to open several panel without closing the other-->
<!--hideToggle allows to hide the arrow on the left of the panel-->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Panel 1
      </mat-panel-title>
      <mat-panel-description>
        Panel's description
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Panel's Content</p>
    <mat-action-row>
      <button mat-button> Action</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Panel 2
      </mat-panel-title>
      <mat-panel-description>
        Panel's description
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Panel's Content</p>
    <mat-action-row>
      <button mat-button>Action</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
